<html>
    <head>
        <title>
            Similar Questions
        </title>
        <style>
            .box1
            {
                background-color: darkgray;
                border-style: groove;
                border-radius: 10px;
                /*padding-top: 40px;*/
            }
            .inside
            {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <center><h1>Similar Questions to "{{ques}}" are :</h1></center>
        <div class="box1">
            <p style="padding-left: 50px;text-align: left;font-size: 30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{q11}}</p>
            <p style="text-align: right;font-size: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SIMIALRITY : {{s11}}</p>
        </div>
        <br>
        <br>
        <div class="box1">
            <p style="padding-left: 50px;text-align: left;font-size: 30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{q22}}</p>
            <p style="text-align: right;font-size: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SIMIALRITY : {{s22}}</p>
        </div>
        <br>
        <br>
        <div class="box1">
            <p style="padding-left: 50px;text-align: left;font-size: 30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{q33}}</p>
            <p style="text-align: right;font-size: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SIMIALRITY : {{s33}}</p>
        </div>
    </body>
</html>